<nb-card class="LoginContainer login-container" accent="primary">
  <nb-card-header>
    <app-space31></app-space31>
  </nb-card-header>

  <nb-card-body>
    <app-sign-up-form></app-sign-up-form>
  </nb-card-body>

  <nb-card-footer>
    <div class="space Space41 space41" >
      <button nbButton class="Button11 button11  size-xl-medium iconPlacement-xl-none" appearance="filled" status="success">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>Se connecter</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>