<div class="space Space space-component" >
  <div class="space Space4 space4" >
    <div class="space Space5 space5" >
      <h1 class="Heading3 heading3 text-alignment-left text-transform-none" ngClass="text-basic">{{ text }}</h1>
      <p class="Text text text-alignment-left text-transform-none paragraph" ngClass="text-basic">{{ text1 }}</p>
      <p class="Text1 text1 text-alignment-left text-transform-none paragraph" ngClass="text-basic">{{ text2 }}</p>
      <p class="Text13 text13 text-alignment-left text-transform-none paragraph" ngClass="text-basic">{{ text3 }}</p>
    </div>
    <div class="space Space54 space54" >
      <img class="Image3 image3" src="./assets/images/surf.jpg">
    </div>
  </div>
</div>