<nb-card class="RegisterContainer register-container" accent="primary">
  <nb-card-header>
    <app-space32></app-space32>
  </nb-card-header>

  <nb-card-body>
    <app-sign-up-form1></app-sign-up-form1>
  </nb-card-body>

  <nb-card-footer>
    <div class="space Space42 space42" >
      <button nbButton class="Button12 button12  size-xl-medium iconPlacement-xl-none" appearance="filled" status="success">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>S'inscire</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>