:host {

  width: 100%;
  height: auto;
  margin: 0;
  display: block;
  
  .heading451 {
    font-size: 18px;
    line-height: initial;
    margin: 0 0 16px 0;
  }
    
  .text31111 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
  }
    
  .space388111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text32111 {
    font-size: 15px;
    line-height: initial;
    margin: 0 4px 8px 0;
  }
    
  .space3817111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space1221117111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text33111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space3822111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text34111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38112111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211112111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text35111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space3832111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text36111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38122111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211122111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text37111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space3842111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text38111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38132111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211132111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text39111 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space3852111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4081 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38142111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211142111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4121 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space3868111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4221 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38158111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space12211158111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4321 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38612111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4421 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space381512111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4721 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38622111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4821 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space381522111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text4921 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38632111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5021 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space381532111 {
    height: 77px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5521 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space38663111 {
    height: auto;
    min-height: 2rem;
    width: 33.333333333333336%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .text5621 {
    font-size: 15px;
    line-height: initial;
    margin: 8px 4px 8px 0;
  }
    
  .space381563111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    margin: 0 0 0 8px;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111563111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111552111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111542111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111532111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111522111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space122111512111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space10212111 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    & > * {
      flex-basis: initial !important;
    }
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space8111 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    & > * {
      flex-basis: initial !important;
    }
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space711 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .space621 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    & > * {
      flex-basis: initial !important;
    }
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
    background-size: auto;
  }
    
  .card131 {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--background-basic-color-1);
    background-size: auto;
  }
    
  @media (max-width: 1024px) {
    .space8111 {
      height: auto;
      min-height: 2rem;
      flex-grow: 1;
      flex-basis: 0;
      margin: 0;
    }
  }
    
  @media (max-width: 768px) {
    .space8111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
    
    .card131 {
      width: 100%;
      height: auto;
      margin: 8px 0;
    }
  }
    
  @media (max-width: 480px) {
    .space8111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
    
  @media (max-width: 320px) {
    .space8111 {
      height: auto;
      min-height: 2rem;
      width: 100%;
    }
  }
  
}