<nb-card class="Card131 card131">
  <nb-card-body>
    <div class="space Space621 space621" >
      <div class="space Space711 space711" >
        <div class="space Space8111 space8111" >
          <h6 class="Heading451 heading451 text-alignment-left text-transform-none" ngClass="text-basic">Jon Snow</h6>
          <div class="space Space10212111 space10212111" >
            <div class="space Space1221117111 space1221117111" >
              <div class="space Space388111 space388111" >
                <p class="Text31111 text31111 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Ville:</p>
              </div>
              <div class="space Space3817111 space3817111" >
                <p class="Text32111 text32111 text-alignment-left text-transform-none paragraph" ngClass="text-basic">Jon</p>
              </div>
            </div>
            <div class="space Space12211112111 space12211112111" >
              <div class="space Space3822111 space3822111" >
                <p class="Text33111 text33111 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Région:</p>
              </div>
              <div class="space Space38112111 space38112111" >
                <p class="Text34111 text34111 text-alignment-left text-transform-none paragraph" ngClass="text-basic">6</p>
              </div>
            </div>
            <div class="space Space12211122111 space12211122111" >
              <div class="space Space3832111 space3832111" >
                <p class="Text35111 text35111 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Qualité de l'eau:</p>
              </div>
              <div class="space Space38122111 space38122111" >
                <p class="Text36111 text36111 text-alignment-left text-transform-none paragraph" ngClass="text-basic">A</p>
              </div>
            </div>
            <div class="space Space12211132111 space12211132111" >
              <div class="space Space3842111 space3842111" >
                <p class="Text37111 text37111 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Ressenti:</p>
              </div>
              <div class="space Space38132111 space38132111" >
                <p class="Text38111 text38111 text-alignment-left text-transform-none paragraph" ngClass="text-basic">9905</p>
              </div>
            </div>
            <div class="space Space12211142111 space12211142111" >
              <div class="space Space3852111 space3852111" >
                <p class="Text39111 text39111 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Nom du surfeur:</p>
              </div>
              <div class="space Space38142111 space38142111" >
                <p class="Text4081 text4081 text-alignment-left text-transform-none paragraph" ngClass="text-basic">Male</p>
              </div>
            </div>
            <div class="space Space12211158111 space12211158111" >
              <div class="space Space3868111 space3868111" >
                <p class="Text4121 text4121 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Heure de début:
                </p>
              </div>
              <div class="space Space38158111 space38158111" >
                <p class="Text4221 text4221 text-alignment-left text-transform-none paragraph" ngClass="text-basic">---</p>
              </div>
            </div>
            <div class="space Space122111512111 space122111512111" >
              <div class="space Space38612111 space38612111" >
                <p class="Text4321 text4321 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Heure de fin:
                </p>
              </div>
              <div class="space Space381512111 space381512111" >
                <p class="Text4421 text4421 text-alignment-left text-transform-none paragraph" ngClass="text-basic">---</p>
              </div>
              <div class="space Space122111522111 space122111522111" >
                <div class="space Space38622111 space38622111" >
                  <p class="Text4721 text4721 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Temps total :
                  </p>
                </div>
                <div class="space Space381522111 space381522111" >
                  <p class="Text4821 text4821 text-alignment-left text-transform-none paragraph" ngClass="text-basic">January 31, 1990</p>
                </div>
                <div class="space Space122111532111 space122111532111" >
                  <div class="space Space38632111 space38632111" >
                    <p class="Text4921 text4921 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Commentaire:
                    </p>
                  </div>
                  <div class="space Space381532111 space381532111" >
                    <p class="Text5021 text5021 text-alignment-left text-transform-none paragraph" ngClass="text-basic">King</p>
                  </div>
                  <div class="space Space122111542111 space122111542111" >
                    <div class="space Space122111552111 space122111552111" >
                      <div class="space Space122111563111 space122111563111" >
                        <div class="space Space38663111 space38663111" >
                          <p class="Text5521 text5521 text-alignment-left text-transform-none paragraph" ngClass="text-hint">Météo</p>
                        </div>
                        <div class="space Space381563111 space381563111" >
                          <p class="Text5621 text5621 text-alignment-left text-transform-none paragraph" ngClass="text-basic">0/04/2017</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>