<div class="space SignUpForm sign-up-form" >
  <label class="Text4 text4 label" ngClass="text-basic">Email</label>
  <input nbInput class="Email email  size-xl-medium" placeholder="" type="text" shape="rectangle" uiValueUpdate="updateUiEmail" status="basic" [ngModel]="value">
  <label class="Text11 text11 text-transform-[object Object] label" ngClass="text-basic">Mot de passe</label>
  <input nbInput class="Password password  size-xl-medium" placeholder="" type="password" shape="rectangle" uiValueUpdate="updateUiPassword" status="basic" [ngModel]="value1">
  <a  routerLink="/register-user" class="Link link text-transform-none text-decoration-underline" ngClass="text-primary">{{ text }}</a>
</div>