<div class="space Space15 space15" >
  <div class="space Space16 space16" >
    <div class="space Space43 space43" >
      <div class="space Space22 space22" >
        <app-card3></app-card3>
      </div>
      <div class="space Space2112 space2112" >
        <app-card12></app-card12>
      </div>
      <div class="space Space21111 space21111" >
        <app-card111></app-card111>
      </div>
      <div class="space Space212 space212" >
        <app-card21></app-card21>
      </div>
    </div>
    <div class="space Space17 space17" >
      
    </div>
    <div class="space Space18 space18" >
      <app-map class="Map map"></app-map>
    </div>
    <div class="space Space1811 space1811" >
      
    </div>
    <div class="space Space181 space181" >
      <app-card131></app-card131>
    </div>
  </div>
  <div class="space Space19 space19" >
    <app-card></app-card>
  </div>
</div>