<nb-card class="Card4 card4">
  <nb-card-header>
    <div class="space Space21 space21" >
      <h6 class="Heading2 heading2 text-alignment-left text-transform-none" ngClass="text-basic">{{ text }}</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space34 space34" >
      <div class="space Space442 space442" >
        <div class="space Space443 space443" >
          <nb-select class="Select select  size-xl-medium custom-width-xl" placeholder="Ville" disabled uiValueUpdate="updateUiSelect" status="primary" [ngModel]="value">
            <nb-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</nb-option>
          </nb-select>
          <nb-select class="Select1 select1  size-xl-medium custom-width-xl" placeholder="Région" disabled uiValueUpdate="updateUiSelect1" status="primary" [ngModel]="value1">
            <nb-option *ngFor="let option of options1" [value]="option.value">{{ option.label }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="space Space44 space44" >
        <input nbInput class="Input input  size-xl-medium" placeholder="Heure de début" type="text" shape="rectangle" uiValueUpdate="updateUiInput" status="basic" [ngModel]="value2">
        <input nbInput class="Input1 input1  size-xl-medium" placeholder="Heure de fin" type="text" shape="rectangle" uiValueUpdate="updateUiInput1" status="basic" [ngModel]="value3">
      </div>
      <div class="space Space445 space445" >
        <input nbInput class="Input2 input2  size-xl-medium" placeholder="Température moyenne" type="number" shape="rectangle" uiValueUpdate="updateUiInput2" status="basic" [ngModel]="value4">
      </div>
      <app-map class="Map1 map1"></app-map>
      <div class="space Space441 space441" >
        
      </div>
      <div class="space Space444 space444" >
        <nb-select class="Select2 select2  size-xl-medium custom-width-xl" placeholder="Mon ressenti global" disabled uiValueUpdate="updateUiSelect2" status="primary" [ngModel]="value5">
          <nb-option *ngFor="let option of options2" [value]="option.value">{{ option.label }}</nb-option>
        </nb-select>
        <nb-select class="Select21 select21  size-xl-medium custom-width-xl" placeholder="Qualité de l'eau" disabled uiValueUpdate="updateUiSelect21" status="primary" [ngModel]="value6">
          <nb-option *ngFor="let option of options3" [value]="option.value">{{ option.label }}</nb-option>
        </nb-select>
        <nb-select class="Select22 select22  size-xl-medium custom-width-xl" placeholder="Météo" disabled uiValueUpdate="updateUiSelect22" status="primary" [ngModel]="value7">
          <nb-option *ngFor="let option of options4" [value]="option.value">{{ option.label }}</nb-option>
        </nb-select>
      </div>
      
      <nb-form-field class="TextArea text-area">
        <textarea nbInput class=" size-xl-medium" class="TextArea text-area  size-xl-medium" placeholder="Commentaire - si présence de déchets merci de préciser leur type" type="undefined" shape="rectangle" rows="3" uiValueUpdate="updateUiTextArea" status="basic" [ngModel]="value8"></textarea>
      </nb-form-field>
      
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space Space53 space53" >
      <button nbButton class="Button13 button13  size-xl-medium iconPlacement-xl-none" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
        <span>{{ text1 }}</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>