<div class="space SignUpForm1 sign-up-form1" >
  <label class="Text5 text5 label" ngClass="text-basic">Nom complet</label>
  <input nbInput class="Name name  size-xl-medium" placeholder="" type="text" shape="rectangle" uiValueUpdate="updateUiName" status="basic" [ngModel]="value">
  <label class="Text12 text12 label" ngClass="text-basic">Email</label>
  <input nbInput class="Email1 email1  size-xl-medium" placeholder="" type="text" shape="rectangle" uiValueUpdate="updateUiEmail1" status="basic" [ngModel]="value1">
  <label class="Text21 text21 label" ngClass="text-basic">Mot de passe</label>
  <input nbInput class="Password1 password1  size-xl-medium" placeholder="" type="password" shape="rectangle" uiValueUpdate="updateUiPassword1" status="basic" [ngModel]="value2">
  <a  routerLink="/log-in" class="Link1 link1 text-transform-none text-decoration-underline" ngClass="text-primary">{{ text }}</a>
</div>