<nb-layout withScroll [class.header-hidden]="!(layout$ | async)?.header">

  <nb-layout-header *ngIf="(layout$ | async)?.header" class="Header header">
    <div class="space Space1 space1" >
      <a *ngIf="authService.isLoggedIn ? true : false" routerLink="/Main">
      <img class="Image image" src="./assets/images/CleanBeachRogné.png">
    </a>
    <a *ngIf="!authService.isLoggedIn? true : false" routerLink="/home">
      <img class="Image image" src="./assets/images/CleanBeachRogné.png">
    </a>
      <div class="space Space2 space2" >
        
      </div>
      
      <a routerLink="/Main" *ngIf="!authService.isLoggedIn ? true : false">
      <button nbButton class="Button1 button1  size-xl-medium iconPlacement-xl-none" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
        <span>acceder a l'application</span>
      </button>
    </a>
    <a routerLink="/Main" *ngIf="!authService.isLoggedIn ? false : true">
      <button nbButton class="Button1 button1  size-xl-medium iconPlacement-xl-none" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
        <span>faire un rapport</span>
      </button>
    </a>
    </div>
  </nb-layout-header>

  <nb-sidebar *ngIf="(layout$ | async)?.sidebar" class="Sidebar sidebar" responsive="true" [collapsedBreakpoints]="['xs', 'is', 'sm']" [compactedBreakpoints]="[]">
    <div class="space SidebarSpace sidebar-space" >
      <nb-menu class="Menu menu" [items]="items" ngClass="menu-text-basic"></nb-menu>
    </div>
  </nb-sidebar>

  <nb-layout-column [style.padding]="padding$ | async">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
