<nb-card class="Card card">
  <nb-card-header>
    <div class="space Space23 space23" >
      <h6 class="Heading4 heading4 text-alignment-left text-transform-none" ngClass="text-basic">Derniers commentaires</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space35 space35" >
      <div class="space Space55 space55" >
        <div class="space Space61112 space61112" >
          <div class="space Space6113 space6113" >
            <span class="Subtitle1 subtitle1 text-alignment-left text-transform-none subtitle" ngClass="text-basic">James</span>
            
            <p class="Text212 text212 text-alignment-left text-transform-none paragraph" ngClass="text-basic">c</p>
          </div>
          <p class="Text3112 text3112 text-alignment-right text-transform-none paragraph" ngClass="text-hint">Aug 21</p>
        </div>
      </div>
    
    </div>
  </nb-card-body>

</nb-card>