<nb-card class="Card card">
  <nb-card-header>
    <div class="space Space23 space23" >
      <h6 class="Heading4 heading4 text-alignment-left text-transform-none" ngClass="text-basic">Messages</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space Space35 space35" >
      <div class="space Space55 space55" >
        <img class="avatar1 avatar1" src="https://sauibakeryprod.blob.core.windows.net/assets-container/assets/j2bfc8qmc0/images/JzQbBWeUTW">
        <div class="space Space61112 space61112" >
          <div class="space Space6113 space6113" >
            <span class="Subtitle1 subtitle1 text-alignment-left text-transform-none subtitle" ngClass="text-basic">James</span>
            <p class="Text212 text212 text-alignment-left text-transform-none paragraph" ngClass="text-basic">{{ text }}</p>
          </div>
          <p class="Text3112 text3112 text-alignment-right text-transform-none paragraph" ngClass="text-hint">Aug 21</p>
        </div>
      </div>
      <div class="space Space511 space511" >
        <img class="avatar2 avatar2" src="https://sauibakeryprod.blob.core.windows.net/assets-container/assets/j2bfc8qmc0/images/m1lS2kSLCA">
        <div class="space Space61111 space61111" >
          <div class="space Space6112 space6112" >
            <span class="Subtitle2 subtitle2 text-alignment-left text-transform-none subtitle" ngClass="text-basic">Ben</span>
            <p class="Text2111 text2111 text-alignment-left text-transform-none paragraph" ngClass="text-basic">{{ text1 }}</p>
          </div>
          <p class="Text3111 text3111 text-alignment-right text-transform-none paragraph" ngClass="text-hint">Aug 21</p>
        </div>
      </div>
      <div class="space Space5111 space5111" >
        <img class="avatar3 avatar3" src="https://sauibakeryprod.blob.core.windows.net/assets-container/assets/j2bfc8qmc0/images/lyBv2YmEC7">
        <div class="space Space6111 space6111" >
          <div class="space Space611 space611" >
            <span class="Subtitle3 subtitle3 text-alignment-left text-transform-none subtitle" ngClass="text-basic">Betsy</span>
            <p class="Text213 text213 text-alignment-left text-transform-none paragraph" ngClass="text-basic">{{ text2 }}</p>
          </div>
          <p class="Text311 text311 text-alignment-right text-transform-none paragraph" ngClass="text-hint">Aug 21</p>
        </div>
      </div>
    </div>
  </nb-card-body>

  <nb-card-footer>
    <div class="space Space45 space45" >
      <button nbButton class="Button2 button2  size-xl-medium iconPlacement-xl-none" appearance="filled" status="basic">
        <nb-icon class="icon btn-icon" icon="star-outline"></nb-icon>
        <span>view more</span>
      </button>
    </div>
  </nb-card-footer>
</nb-card>